In [1]:
import pandas as pd
import numpy as np

In [2]:
orders = pd.read_csv("orders.csv",parse_dates=['created_at','delivery_date'])
samplesub = pd.read_csv("SampleSubmission.csv")
# =====================================================================
# =====================================================================
test_cust = pd.read_csv("test_customers.csv", parse_dates=['created_at','updated_at'])
test_loc = pd.read_csv("test_locations.csv")
# =====================================================================
# =====================================================================
train_cust = pd.read_csv("train_customers.csv",parse_dates=['created_at','updated_at'])
train_loc = pd.read_csv("train_locations.csv")
# =====================================================================
# =====================================================================
vendors = pd.read_csv("vendors.csv",parse_dates=['created_at','updated_at'])
print("orders",orders.shape, "samplesub",samplesub.shape, "test_cust",test_cust.shape, "test_loc", test_loc.shape, "train_cust",train_cust.shape, "train_loc",train_loc.shape, "vendor",vendors.shape)

C:\Users\Mr.mfene\AppData\Local\Continuum\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3057: DtypeWarning: Columns (15,16,18,19) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

orders (135303, 26) samplesub (1672000, 2) test_cust (9768, 8) test_loc (16720, 5) train_cust (34674, 8) train_loc (59503, 5) vendor (100, 59)

In [18]:
test = pd.read_csv("akeelah_test.csv")

In [19]:
test['location_number_obj']=test['location_number'].astype(str)
test['id_obj']=test['id'].astype(str)

In [20]:
test['CID X LOC_NUM X VENDOR'] = test['customer_id'] +' X '+ test['location_number_obj'] +' X '+ test['id_obj']

In [3]:
print(train_cust.shape)
train_cust.rename(columns={"akeed_customer_id": "customer_id"}, inplace=True)
train_cust.head()

(34674, 8)

,customer_id,gender,dob,status,verified,language,created_at,updated_at
0,TCHWPBT,Male,NaN,1,1,EN,2018-02-07 19:16:23,2018-02-07 19:16:23
1,ZGFSYCZ,Male,NaN,1,1,EN,2018-02-09 12:04:42,2018-02-09 12:04:41
2,S2ALZFL,Male,NaN,0,1,EN,2018-03-14 18:31:43,2018-03-14 18:31:42
3,952DBJQ,Male,NaN,1,1,EN,2018-03-15 19:47:07,2018-03-15 19:47:07
4,1IX6FXS,Male,NaN,1,1,EN,2018-03-15 19:57:01,2018-03-15 19:57:01

In [4]:
train_cust=train_cust[['customer_id','created_at','updated_at']]
train_cust.drop_duplicates(subset='customer_id', keep='first', inplace=True)

In [5]:
train = train_cust.merge(train_loc, on='customer_id')

In [6]:
## Reduce memory usage
def reduce_mem_usage(df, verbose=True):
    numerics = ['int16', 'int32', 'int64', 'float16', 'float32', 'float64']
    start_mem = df.memory_usage().sum() / 1024**2    
    for col in df.columns:
        col_type = df[col].dtypes
        if col_type in numerics:
            c_min = df[col].min()
            c_max = df[col].max()
            if str(col_type)[:3] == 'int':
                if c_min > np.iinfo(np.int8).min and c_max < np.iinfo(np.int8).max:
                    df[col] = df[col].astype(np.int8)
                elif c_min > np.iinfo(np.int16).min and c_max < np.iinfo(np.int16).max:
                    df[col] = df[col].astype(np.int16)
                elif c_min > np.iinfo(np.int32).min and c_max < np.iinfo(np.int32).max:
                    df[col] = df[col].astype(np.int32)
                elif c_min > np.iinfo(np.int64).min and c_max < np.iinfo(np.int64).max:
                    df[col] = df[col].astype(np.int64)  
            else:
                if c_min > np.finfo(np.float16).min and c_max < np.finfo(np.float16).max:
                    df[col] = df[col].astype(np.float16)
                elif c_min > np.finfo(np.float32).min and c_max < np.finfo(np.float32).max:
                    df[col] = df[col].astype(np.float32)
                else:
                    df[col] = df[col].astype(np.float64)    
    end_mem = df.memory_usage().sum() / 1024**2
    if verbose: print('Mem. usage decreased to {:5.2f} Mb ({:.1f}% reduction)'.format(end_mem, 100 * (start_mem - end_mem) / start_mem))
    return df

In [7]:
train = reduce_mem_usage(train)

Mem. usage decreased to  2.49 Mb (29.7% reduction)

In [8]:
train.shape

(58024, 7)

### train merge

In [9]:
train_1 =train.iloc[:14506,:].assign(key=1).merge(vendors.assign(key=1), on='key').drop('key',axis=1)

In [10]:
train_2 =train.iloc[14506:29012,:].assign(key=1).merge(vendors.assign(key=1), on='key').drop('key',axis=1)

In [11]:
train_3 =train.iloc[29012:43518,:].assign(key=1).merge(vendors.assign(key=1), on='key').drop('key',axis=1)

In [15]:
train_4 =train.iloc[43518:58025,:].assign(key=1).merge(vendors.assign(key=1), on='key').drop('key',axis=1)

In [17]:
print(train_1.shape, train_2.shape, train_3.shape, train_4.shape,)

(1450600, 66) (1450600, 66) (1450600, 66) (1450600, 66)

In [22]:
train_1['location_number_obj']=test['location_number'].astype(str)
train_1['id_obj']=test['id'].astype(str)

In [23]:
train_2['location_number_obj']=test['location_number'].astype(str)
train_2['id_obj']=test['id'].astype(str)

In [24]:
train_3['location_number_obj']=test['location_number'].astype(str)
train_3['id_obj']=test['id'].astype(str)

In [25]:
train_4['location_number_obj']=test['location_number'].astype(str)
train_4['id_obj']=test['id'].astype(str)

In [26]:
train_1['CID X LOC_NUM X VENDOR'] = train_1['customer_id'] +' X '+ train_1['location_number_obj'] +' X '+ train_1['id_obj']

In [27]:
train_2['CID X LOC_NUM X VENDOR'] = train_2['customer_id'] +' X '+ train_2['location_number_obj'] +' X '+ train_2['id_obj']

In [28]:
train_3['CID X LOC_NUM X VENDOR'] = train_3['customer_id'] +' X '+ train_3['location_number_obj'] +' X '+ train_3['id_obj']

In [29]:
train_4['CID X LOC_NUM X VENDOR'] = train_4['customer_id'] +' X '+ train_4['location_number_obj'] +' X '+ train_4['id_obj']

In [30]:
all_services = orders['CID X LOC_NUM X VENDOR'].values.tolist()
train_1['target']= train_1['CID X LOC_NUM X VENDOR'].isin(all_services).astype(int).values

In [31]:
train_1 =reduce_mem_usage(train_1)

Mem. usage decreased to 579.64 Mb (0.7% reduction)

In [32]:
all_services = orders['CID X LOC_NUM X VENDOR'].values.tolist()
train_2['target']= train_2['CID X LOC_NUM X VENDOR'].isin(all_services).astype(int).values

In [33]:
train_2 =reduce_mem_usage(train_2)

Mem. usage decreased to 579.64 Mb (0.7% reduction)

In [34]:
all_services = orders['CID X LOC_NUM X VENDOR'].values.tolist()
train_3['target']= train_3['CID X LOC_NUM X VENDOR'].isin(all_services).astype(int).values

In [35]:
train_3 =reduce_mem_usage(train_3)

Mem. usage decreased to 579.64 Mb (0.7% reduction)

In [36]:
all_services = orders['CID X LOC_NUM X VENDOR'].values.tolist()
train_4['target']= train_4['CID X LOC_NUM X VENDOR'].isin(all_services).astype(int).values

In [37]:
train_4 =reduce_mem_usage(train_4)

Mem. usage decreased to 579.64 Mb (0.7% reduction)

In [39]:
train_1.to_csv('akeelah_train1.csv', index =False)
train_2.to_csv('akeelah_train2.csv', index =False)
train_3.to_csv('akeelah_train3.csv', index =False)
train_4.to_csv('akeelah_train4.csv', index =False)

In [40]:
test =reduce_mem_usage(test)

Mem. usage decreased to 638.01 Mb (25.7% reduction)

In [41]:
test.to_csv('akeelah_testt.csv', index =False)